*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 15px;
  font-family: Poppins;
}

#our-services {
  position: relative;
  height: 60rem;
  /* width: 5px; */
}

.our-services__bg {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.our-services__bg > div {
  position: absolute;
  border-radius: 50%;
}

.our-services__bg > div:first-child  {
  background: rgba(221, 205, 255, 0.2);
  height: 6.54rem; 
  width: 6.54rem;
}

.our-services__bg > div:nth-of-type(2) {
  background: rgba(221, 205, 255, 0.2);
  height: 6.54rem; 
  width: 6.54rem;
}

.our-services__bg > div:nth-of-type(3) {
  background: rgba(221, 205, 255, 0.2);
  height: 4.07rem; 
  width: 4.07rem;
}

.our-services__bg > div:nth-of-type(4) {
  background: rgba(221, 205, 255, 0.2);
  height: 3.264rem; 
  width: 3.264rem;
}

.our-services__bg > div:nth-of-type(5) {
  background: rgba(133, 81, 243, 0.2);
  height: 6.54;
  width: 6.54;
}

.our-services__bg > div:nth-of-type(6) {
  background: rgba(221, 205, 255, 0.2);
  height: 24.73rem; 
  width: 24.73rem; 
}

.our-services__bg > div:nth-of-type(7) {
  background: rgba(248, 165, 229, 0.2);
  height: 6.54rem; 
  width: 6.54rem;
}
    
