* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: Poppins;
}

body {
  background: linear-gradient(180deg, #f8f8f8 68.23%, #e9deff 100%);
}

.our-services__container {
  position: relative;
  display: flex;
  height: 60rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.our-services__Services-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 93rem;
}

.our-services__title {
  margin: 50px auto 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 3.33rem;
  color: #3a3a3a;
}

.service__shap1 {
  box-shadow: 0rem 0.26rem 1.46rem 0.33rem rgba(0, 0, 0, 0.15);
  border-radius: 0rem 3.3rem;
}

.service__shap2 {
  box-shadow: 0rem 0.26rem 1.46rem 0.33rem rgba(0, 0, 0, 0.15);
  border-radius: 3.3rem 0rem;
}
.services-topBar {
  position: absolute;
  width: 22.33rem;
  height: 1.1rem;
}

.service__shap1 > .services-topBar {
  left: 0;
  border-radius: 0px 0px 50px 0px;
}

.service__shap2 > .services-topBar {
  right: 0;
  border-radius: 0px 0px 0px 50px;
}

.service {
  position: relative;
  width: 39.6rem;
  height: 21.9rem;
  background: #ffffff;
  margin: 51px 51px 30px;
  text-align: center;
}

.service > h1 {
  font-weight: 600;
  font-size: 2.133rem;
  font-style: "semiBold";
}

.service > p {
  padding: 10px 60px;
  /* width: 467px; */

  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 27px;

  color: #706e6e;
}

.service > img {
  width: 5.86rem;
  margin: 5rem 3.4px 0;
}

.service:first-child > h1 {
  color: #004f9e;
}
.service:nth-of-type(2) > h1 {
  color: #920069;
}
.service:nth-of-type(3) > h1 {
  color: #2c878d;
}
.service:nth-of-type(4) > h1 {
  color: #af9e00;
}

.service:first-child > .services-topBar {
  background: #0884ff;
  box-shadow: inset 1px -2px 8px 0 #5555553a;
}

.service:nth-of-type(2) > .services-topBar {
  background: #ff00b8;
  box-shadow: inset 1px -2px 8px 0 #5555553a;
}

.service:nth-of-type(3) > .services-topBar {
  background: #3bc4cd;
  box-shadow: inset 1px -2px 8px 0 #5555553a;
}

.service:nth-of-type(4) > .services-topBar {
  background: #ffe600;
  box-shadow: inset 1px -2px 8px 0 #5555553a;
}

/* Desktops and laptops ----------- */
@media (max-width: 1200px) {
  html{
    font-size: 10px;
  }

  .our-services__Services-container {
    width: auto;
  }
}

/* portrait ----------- */
@media (max-width: 1000px) {
}

/* landscape ----------- */
@media (max-width: 900px) {
}

/* Smartphones ----------- */
@media (max-width: 600px) {
}
